APP_ENV=tests
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC
APP_LOCAL_TIMEZONE=Asia/Manila

AUTH_DRIVER=eloquent
AUTH_MODEL=\App\User
AUTH_TABLE=users

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST={{ db_host }}
DB_PORT=3306
DB_DATABASE={{ db_name }}
DB_USERNAME={{ db_user }}
DB_PASSWORD={{ db_user_password }}